---
import '@fontsource/roboto';

interface ButtonProps {
  title: string;
  isBorder?: boolean; // Show only border (outline button)
  hasBackground?: boolean; // If true, apply background color
  href?: string; // If provided, render as a link
}

const { title, isBorder, hasBackground, href } = Astro.props;

const buttonStyle = `
   rounded px-8 py-3 font-semibold
  ${isBorder ? 'border border-[var(--button-border-color)] text-white' : ''}
  ${hasBackground ? 'bg-[var(--button-blue-500)] text-white' : ''}
`;
---

{
  href ? (
    <a href={href} class={buttonStyle}>
      {title}
    </a>
  ) : (
    <button class={buttonStyle}>{title}</button>
  )
}

<style>
  a, button {
    font-family: 'roboto', sans-serif;
  }
</style>