---
// Hero.astro
import { Image } from 'astro:assets';

interface Props {
  image: ImageMetadata;
  height?: string;
  title?: string;
  subtitle?: string;
  description?: string;
  showButtons?: boolean;
}

const {
  image,
  height = 'h-[100vh]',
  title = 'CARPENTRY & PROPERTY MAINTENANCE',
  subtitle = 'WELCOME TO D.RONAN CARPENTRY',
  description = 'Dedicated to quality and craftsmanship for three generations. Master carpentry, fine millwork, and historic windows. Serving Snohomish County, King County, and NW Washington.',
  showButtons = true,
} = Astro.props;
---

<section class="relative z-10 w-full">
  <!-- Background image -->
  <Image
    src={image}
    alt="Hero background"
    class=`absolute inset-0 z-[-1] ${height} w-full object-cover`
    quality="high"
  />

  <!-- Content -->
  <div
    class=`relative flex ${height} flex-col items-center justify-center px-4 text-center text-white`
  >
    {
      subtitle && (
        <>
          <h2 class="font-[rufina] text-sm tracking-widest sm:text-base md:text-lg">
            {subtitle}
          </h2>
          <div class="mt-2 w-1/4 border-t-2 border-[#A38A6C]" />
        </>
      )
    }

    <h1
      class="mt-4 font-[rufina] text-3xl leading-tight font-bold sm:text-4xl md:text-5xl"
    >
      {title}
    </h1>

    {
      description && (
        <p class="mt-4 max-w-4xl text-sm leading-relaxed sm:text-base md:text-lg">
          {description}
        </p>
      )
    }

    {
      showButtons && (
        <div class="mt-6 flex gap-8">
          <a
            href="tel:+353861961315"
            class="text-md bg-[#1e67ce] px-8 py-4 font-semibold text-white"
          >
            Call Now
          </a>
          <a
            href="/services"
            class="text-md border-2 border-[#A38A6C] px-8 py-4 font-semibold text-white sm:text-base"
          >
            Services
          </a>
        </div>
      )
    }
  </div>
</section>
